html {
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to bottom right, blue, cyan);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: rgb(0, 0, 80); */
    color: whitesmoke;
}

h1{
    text-align: center;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 40px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

section{
    padding: 100px;
}

footer{
    text-align: right;
    background-color: #333;
    color: whitesmoke;
}

nav{
    background-color: rgba(0, 0, 0, 0.2);
    color: whitesmoke;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: inherit;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  nav ul li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  /* Change the nav color on hover */
  nav ul li a:hover {
    background-color: rgb(0, 0, 17);
  }

  #bar-graph{
      padding: 200px;
  }

  
.maps{
    width: auto;
    height: auto;
    padding-top: 50px;
}


.button {
    background-color: #4cb2ec; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-rounded-2px {border-radius: 2px;}
.button-rounded-4px {border-radius: 4px;}
.button-rounded-8px {border-radius: 8px;}
.button-rounded-12px {border-radius: 12px;}
.button-rounded-50 {border-radius: 50%;}
/* .Even{
    background-color: blue;
    color: whitesmoke;
} */

th span{
    color: gray;
}

.ui-datepicker-week-col{
    color: gray;
}

.ui-widget-content {
    /* background: whitesmoke; */
    /* background: cyan url(images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x; */
}