html {
    scroll-behavior: smooth;
}

body{
    /* background-image: linear-gradient(to bottom right, blue, cyan);
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-color: rgb(0, 0, 80); */
    /* color: whitesmoke; */
}

@media(min-width: 601px){
    h1{
        padding: 100px;
    }
}

h1{
    text-align: center;
    /* padding: 100px; */
    padding-top: 150px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: 300; */
    /* font-size: 40px; */
}
h2{
    text-align: center;
}
p{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

section{
    padding: 100px;
}

footer{
    text-align: right;
    background-color: #333;
    color: whitesmoke;
}

nav{
    background-color:rgb(231, 231, 231);
    color: whitesmoke;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: inherit;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

nav ul li a {
    /* float: left; */
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  
/* Change the nav color on hover */
nav ul li a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

#bar-graph{
    padding: 200px;
}

  
.maps{
    width: auto;
    height: auto;
    padding-top: 50px;
}

#graphDiv{
    position: relative;
    white-space: nowrap;
}

#graph{
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    pointer-events: none;
}
/* Nice buttons */
.button {
    background-color: #4cb2ec; /* Nice blue */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.selected-button {
    background-color: #000077; /* Nice blue */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-rounded-2px {border-radius: 2px;}
.button-rounded-4px {border-radius: 4px;}
.button-rounded-8px {border-radius: 8px;}
.button-rounded-12px {border-radius: 12px;}
.button-rounded-50 {border-radius: 50%;}


/* Dropdown Buttons */
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: 16px;
    margin: 4px 2px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#global-hit{
    color: #6f42c1;
}

@media(max-width: 600px){
    h1{
        font-size: 20px;
    }
}